{% extends 'main/base.html' %}

{% block title %} Home Page {% endblock %}
{% block content %}

{% for project in projects %}
<div class="card mt-2">
    <div class="card-header"><strong>@{{project.author.username}}</strong></div>
    <div class="card-body d-flex  flex-row justify-content-between">
        <div>
            <h5 class="card-title">{{project.title}}</h5>
            <p>{{project.description}}</p>
        </div>
        <div>
            {% if user == project.author %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" name="project-id" value={{project.id}} >Delete</button>
            </form>
        
            {% endif %}
        </div>
    </div>
    <div class="card-footer text-muted">
        {{project.created_at}}
    </div>
</div>
{% empty %}
<p>No projects yet.</p>
{% endfor %}
{% endblock %}